<!-- src/views/layouts/main.hbs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="min-h-screen flex flex-col">
    {{> header}}
    {{> nav}}                       <!-- Header with theme toggle -->
    <main class="flex-grow p-6 bg-base-100">
      {{{body}}}                       <!-- Content from each page -->
    </main>
    {{> footer}}
  </div>
</body>
</html>