<div class="container mt-5">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Job ID</th>
                <th>Job Name</th>
                <th>Job Link</th>
                <th>Test</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            {{#each results}}
            <tr>
                <td>{{jobid}}</td>
                <td>{{jobtitle}}</td>
                <td>{{jobapplicationlink}}</td>
                <td>'Test Data'</td>
                <td>
                    <button class="btn btn-secondary" onclick="openModalForEdit({{jobid}})">Edit</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<script>
    openModalForEdit(jobid) {
        
    }
</script>
