<!--

{{#extend "main"}}
    {{#content "body"}}
        <h1 class="text-2xl font-bold">Welcome to My App!</h1>
        <p class="text-gray-700">This is the home page.</p>
    {{/content}}
{{/extend}}
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table, th, td {
            border: 1px solid;
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
<div class="container mt-5">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Company</th>
                <th>Job Name</th>
                <th>Date Applied</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {{#each leeds}}
            <tr>
                <td>{{company}}</td>
                <td>{{job_name}}</td>
                <td>{{date_applied}}</td>
                <td>{{status}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
</body>
</html>