<div class="container mt-5">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Company</th>
                <th>Job Name</th>
                <th>Date Applied</th>
                <th>Status</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            {{#each jobs}}
            <tr>
                <td>{{jobID}}</td>
                <td>{{job_name}}</td>
                <td>{{job_link}}</td>
                <td>'Test Data'</td>
                <td>More test data</td>
                <!--
                <td>
                    <button class="btn btn-primary" onclick="openModalForEdit({{jobID}})">Edit</button>
                </td>
                -->
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
