<footer class="footer footer-center bg-base-200 text-base-content rounded p-10">
  <nav>
    <div class="grid grid-flow-col gap-4">
      <!-- GitHub -->
      <a href="https://github.com/christoj31/CSCI-3308-Project-Repository.git" target="_blank" aria-label="GitHub">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          class="fill-current">
          <path
            d="M12 2C6.477 2 2 6.477 2 12c0 4.419 2.865 8.166 6.839 9.489.5.092.683-.217.683-.482 0-.237-.009-.866-.013-1.699-2.782.604-3.369-1.342-3.369-1.342-.455-1.153-1.11-1.46-1.11-1.46-.908-.62.07-.608.07-.608 1.004.07 1.533 1.031 1.533 1.031.892 1.528 2.341 1.087 2.912.831.091-.647.35-1.086.636-1.337-2.22-.253-4.555-1.11-4.555-4.943 0-1.091.39-1.984 1.03-2.683-.103-.253-.447-1.272.098-2.65 0 0 .841-.27 2.75 1.026A9.563 9.563 0 0 1 12 6.844a9.56 9.56 0 0 1 2.502.338c1.909-1.296 2.75-1.026 2.75-1.026.546 1.378.202 2.397.099 2.65.64.699 1.03 1.592 1.03 2.683 0 3.841-2.338 4.687-4.565 4.936.36.31.68.923.68 1.86 0 1.343-.013 2.426-.013 2.754 0 .268.18.578.688.48C19.135 20.164 22 16.418 22 12c0-5.523-4.477-10-10-10z"></path>
        </svg>
      </a>
      {{!-- <!-- Instagram -->
      <a href="https://instagram.com/" target="_blank" aria-label="Instagram">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          class="fill-current">
          <path
            d="M12 2.163c3.204 0 3.584.012 4.85.07 1.206.057 2.006.24 2.465.415a4.92 4.92 0 0 1 1.742 1.142c.482.482.86 1.04 1.142 1.742.176.459.358 1.259.415 2.465.058 1.266.07 1.645.07 4.85s-.012 3.584-.07 4.85c-.057 1.206-.24 2.006-.415 2.465a4.902 4.902 0 0 1-1.142 1.742 4.902 4.902 0 0 1-1.742 1.142c-.459.176-1.259.358-2.465.415-1.266.058-1.645.07-4.85.07s-3.584-.012-4.85-.07c-1.206-.057-2.006-.24-2.465-.415a4.92 4.92 0 0 1-1.742-1.142 4.92 4.92 0 0 1-1.142-1.742c-.176-.459-.358-1.259-.415-2.465-.058-1.266-.07-1.645-.07-4.85s.012-3.584.07-4.85c.057-1.206.24-2.006.415-2.465a4.902 4.902 0 0 1 1.142-1.742A4.902 4.902 0 0 1 4.85 2.579c.459-.176 1.259-.358 2.465-.415 1.266-.058 1.645-.07 4.85-.07zm0-2.163C8.746 0 8.331.014 7.052.072 5.792.129 4.83.373 4.07.722 3.331 1.05 2.693 1.543 2.12 2.12c-.577.573-1.07 1.211-1.398 1.95-.35.76-.594 1.722-.651 2.982C0 8.331 0 8.746 0 12c0 3.254.014 3.669.072 4.948.057 1.26.301 2.222.651 2.982.328.739.821 1.377 1.398 1.95.573.577 1.211 1.07 1.95 1.398.76.35 1.722.594 2.982.651 1.277.057 1.692.072 4.948.072s3.669-.014 4.948-.072c1.26-.057 2.222-.301 2.982-.651.739-.328 1.377-.821 1.95-1.398.577-.573 1.07-1.211 1.398-1.95.35-.76.594-1.722.651-2.982.057-1.277.072-1.692.072-4.948s-.014-3.669-.072-4.948c-.057-1.26-.301-2.222-.651-2.982-.328-.739-.821-1.377-1.398-1.95-.573-.577-1.211-1.07-1.95-1.398-.76-.35-1.722-.594-2.982-.651C15.669.014 15.254 0 12 0z"></path>
        </svg>
      </a> --}}
      <!-- LinkedIn -->
      <a href="https://www.linkedin.com/in/arvindkrishna/" target="_blank" aria-label="LinkedIn">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          class="fill-current">
          <path
            d="M19 0h-14c-2.76 0-5 2.24-5 5v14c0 2.76 2.24 5 5 5h14c2.76 0 5-2.24 5-5v-14c0-2.76-2.24-5-5-5zm-11.75 19h-2.5v-10.5h2.5v10.5zm-1.25-12.25c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zm12 12.25h-2.5v-5c0-1.24-.01-2.84-1.74-2.84-1.75 0-2.02 1.36-2.02 2.76v5.08h-2.5v-10.5h2.4v1.43h.04c.34-.65 1.17-1.34 2.41-1.34 2.58 0 3.05 1.7 3.05 3.91v6.5z"></path>
        </svg>
      </a>
      <!-- YouTube -->
      <a href="https://www.youtube.com/watch?v=cB4dYfFgaME" target="_blank" aria-label="YouTube">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          class="fill-current">
          <path
            d="M19.615 3.184c-3.604-.246-11.631-.245-15.23 0-3.897.266-4.356 2.62-4.385 8.816.029 6.185.484 8.549 4.385 8.816 3.6.245 11.626.246 15.23 0 3.897-.266 4.356-2.62 4.385-8.816-.029-6.185-.484-8.549-4.385-8.816zm-10.615 12.816v-8l8 3.993-8 4.007z"></path>
        </svg>
      </a>
    </div>
  </nav>
</footer>
