<header>
    <style>
    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #931342;
    border-radius: 25px;
    }

    li a {
    color: blueviolet;
    text-align: center;
    border-radius: 25px;
    }

    li a:hover:not(.pages) {
    background-color: rgb(23, 59, 59);
    }
    li a:hover:not(.light) {
    background-color: aqua;
    }

    .pages {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        float: left;
        border-radius: 25px;

    }

    .light {
    display: block;
    color: rgb(31, 13, 13);
    text-align: center;
    padding: 14px 16px;
    background-color: #f8f812;
    float: right;
    }

    .dark {
     background-color: #151e31;
    float: right;
    }
</style>
</header>

<body>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="/css/styles.css" rel="stylesheet">  Link to your compiled CSS -->
            
    <ul>
        <li>
            <a class="pages" href="/home">Home</a> 
        </li>
        <li>
            <a class="pages" href="/courses">Courses</a> 
        </li>
        <li>
            <a class="pages" href="/logout">Log out</a> 
        </li>
        <li>
            <a class="light" href="/theme/light">Light Mode</a>
        </li>
        <li>
            <a class="dark" href="/theme/dark">Dark Mode</a>
        </li>
    </ul>
</body>