<!-- Content Section -->
<div class="card bg-base-300 rounded-box flex-grow place-items-center">
    <div class="w-full md:w-3/4">
        <h1 class="text-center text-3xl font-bold mb-6">Textbook Resources</h1>
        <div class="collapse collapse-plus bg-base-200">
            <input type="radio" name="textbook-accordion" />
            <div class="collapse-title text-xl font-medium">1. Consulting</div>
            <div class="collapse-content">
                <p>
                    • <a class="link"
                        href="https://careerinconsulting.com/wp-content/uploads/2019/12/6.-Wharton-Casebook-2017.pdf">Wharton
                        Consulting Club Casebook</a><br>
                    • <a class="link" href="#">Goizueta Consulting Association Casebook</a><br>
                    • <a class="link" href="#">MIT Sloan Management Consulting Club Casebook</a><br>
                    • <a class="link" href="#">Kellogg Consulting Club Casebook</a><br>
                    • <a class="link" href="#">Duke MBA Consulting Club Casebook</a><br>
                </p>
            </div>
        </div>

        <div class="collapse collapse-plus bg-base-200">
            <input type="radio" name="textbook-accordion" />
            <div class="collapse-title text-xl font-medium">2. Finance</div>
            <div class="collapse-content">
                <p>
                    • <a class="link" href="https://corporatefinanceinstitute.com/">Corporate Finance Institute
                        (CFI) - Free
                        Finance Courses</a><br>
                    • <a class="link" href="#">Goizueta Business School - Investment Banking Casebook</a><br>
                    • <a class="link" href="https://www.wallstreetprep.com/">Wall Street Prep - Free Finance
                        Interview
                        Guide</a><br>
                    • <a class="link" href="https://breakingintowallstreet.com/">Breaking Into Wall Street - Free
                        Valuation
                        Tutorials</a><br>
                    • <a class="link" href="https://www.investopedia.com/">Investopedia - Finance Dictionary and
                        Tutorials</a><br>
                    • <a class="link" href="https://www.khanacademy.org/economics-finance-domain/core-finance">Khan
                        Academy
                        - Finance and Capital Markets</a><br>
                    • <a class="link" href="https://www.cfainstitute.org/">CFA Institute - Free Resources and Study
                        Materials</a><br>
                    • <a class="link" href="#">Open Textbook Library - Corporate Finance Textbook</a><br>
                    • <a class="link" href="#">Mergers & Inquisitions - Financial Modeling Templates</a><br>
                </p>
            </div>
        </div>

        <div class="collapse collapse-plus bg-base-200">
            <input type="radio" name="textbook-accordion" />
            <div class="collapse-title text-xl font-medium">3. Technology</div>
            <div class="collapse-content">
                <p>
                    • <a class="link" href="https://www.freecodecamp.org/">FreeCodeCamp - Coding Interview
                        Prep</a><br>
                    • <a class="link" href="https://ocw.mit.edu/">MIT OpenCourseWare - Introduction to
                        Algorithms</a><br>
                    • <a class="link" href="https://www.geeksforgeeks.org/">GeeksforGeeks - Programming
                        Practice</a><br>
                    • <a class="link" href="https://github.com/jwasham/coding-interview-university">GitHub - Coding
                        Interview University</a><br>
                    • <a class="link" href="https://leetcode.com/explore/">LeetCode Explore - Free
                        Challenges</a><br>
                </p>
            </div>
        </div>

        <div class="collapse collapse-plus bg-base-200">
            <input type="radio" name="textbook-accordion" />
            <div class="collapse-title text-xl font-medium">4. Healthcare (Non-Medical)</div>
            <div class="collapse-content">
                <p>
                    • <a class="link" href="#">University of Michigan - Healthcare Management Textbook</a><br>
                    • <a class="link" href="https://www.hrsa.gov/">National Institutes of Health - Health
                        Resources</a><br>
                    • <a class="link" href="https://www.coursera.org/">Coursera - Free Healthcare Management
                        Courses</a><br>
                    • <a class="link" href="https://www.who.int/">World Health Organization - Health Systems
                        Resources</a><br>
                    • <a class="link" href="https://www.mededportal.org/">MedEdPORTAL - Health Education
                        Resources</a><br>
                </p>
            </div>
        </div>

        <div class="collapse collapse-plus bg-base-200">
            <input type="radio" name="textbook-accordion" />
            <div class="collapse-title text-xl font-medium">5. Engineering</div>
            <div class="collapse-content">
                <p>
                    • <a class="link" href="https://ocw.mit.edu/">MIT OpenCourseWare - Engineering Systems
                        Division</a><br>
                    • <a class="link" href="https://nptel.ac.in/">NPTEL - Engineering Courses</a><br>
                    • <a class="link" href="https://ieeexplore.ieee.org/">IEEE Xplore - Free Engineering
                        Articles</a><br>
                    • <a class="link" href="#">UC Berkeley - Engineering Leadership Textbook</a><br>
                    • <a class="link" href="#">University of Cambridge - Engineering Department Textbooks</a><br>
                </p>
            </div>
        </div>

        <div class="collapse collapse-plus bg-base-200">
            <input type="radio" name="textbook-accordion" />
            <div class="collapse-title text-xl font-medium">6. Sales & Marketing</div>
            <div class="collapse-content">
                <p>
                    • <a class="link" href="https://academy.hubspot.com/">HubSpot Academy - Free Marketing
                        Courses</a><br>
                    • <a class="link" href="https://learndigital.withgoogle.com/digitalgarage">Google Digital Garage
                        -
                        Fundamentals of Digital Marketing</a><br>
                    • <a class="link" href="https://www.coursera.org/">Coursera - Marketing in a Digital
                        World</a><br>
                    • <a class="link" href="https://moz.com/beginners-guide-to-seo">Moz - Beginner’s Guide to
                        SEO</a><br>
                    • <a class="link" href="https://www.saleshacker.com/">Sales Hacker - Sales Guides</a><br>
                </p>
            </div>
        </div>
        <div class="container flex flex-col items-center justify-center">

            <div class="collapse collapse-plus bg-base-200">
                <input type="radio" name="textbook-accordion" />
                <div class="collapse-title text-xl font-medium">7. Accounting</div>
                <div class="collapse-content">
                    <p>
                        • <a class="link" href="https://www.principlesofaccounting.com/">Principles of
                            Accounting by
                            University of Minnesota</a><br>
                        • <a class="link" href="https://www.accountingcoach.com/">AccountingCoach - Free
                            Resources</a><br>
                        • <a class="link" href="https://openstax.org/">OpenStax - Financial and Managerial
                            Accounting
                            Textbooks</a><br>
                        • <a class="link" href="https://www.coursera.org/learn/wharton-finance-accounting">Coursera
                            -
                            Introduction to Financial Accounting</a><br>
                        • <a class="link" href="https://ocw.mit.edu/">MIT OpenCourseWare - Financial
                            Accounting</a><br>
                    </p>
                </div>
            </div>

            <div class="collapse collapse-plus bg-base-200">
                <input type="radio" name="textbook-accordion" />
                <div class="collapse-title text-xl font-medium">8. Human Resources</div>
                <div class="collapse-content">
                    <p>
                        • <a class="link" href="https://www.shrm.org/">SHRM - Free HR Resources</a><br>
                        • <a class="link" href="https://www.coursera.org/">Coursera - Introduction to People
                            Analytics</a><br>
                        • <a class="link" href="#">University of Minnesota - Human Resources Textbook</a><br>
                        • <a class="link" href="https://www.aihr.com/">AIHR Academy - Free HR Webinars</a><br>
                        • <a class="link" href="https://www.open.edu/openlearn/">OpenLearn - Managing People and
                            Organizations</a><br>
                    </p>
                </div>
            </div>

            <div class="collapse collapse-plus bg-base-200">
                <input type="radio" name="textbook-accordion" />
                <div class="collapse-title text-xl font-medium">9. Law & Legal Practice</div>
                <div class="collapse-content">
                    <p>
                        • <a class="link" href="#">Harvard Law Case Studies</a><br>
                        • <a class="link" href="https://courses.lumenlearning.com/">Lumen Learning - Business
                            Law
                            Textbook</a><br>
                        • <a class="link" href="https://www.law.cornell.edu/">Cornell University Law School -
                            Legal
                            Information Institute</a><br>
                        • <a class="link" href="https://ocw.mit.edu/">MIT OpenCourseWare - Intellectual Property
                            Law</a><br>
                        • <a class="link" href="https://avalon.law.yale.edu/">Yale Law School - Avalon
                            Project</a><br>
                    </p>
                </div>
            </div>

            <div class="collapse collapse-plus bg-base-200">
                <input type="radio" name="textbook-accordion" />
                <div class="collapse-title text-xl font-medium">10. Career Development and Professional Skills
                </div>
                <div class="collapse-content">
                    <p>
                        • <a class="link" href="https://www.coursera.org/">Coursera - Career Success
                            Specialization</a><br>
                        • <a class="link" href="#">Harvard ManageMentor - Leadership Essentials</a><br>
                        • <a class="link" href="#">The 7 Habits of Highly Effective People - Summary
                            Resources</a><br>
                        • <a class="link" href="https://www.careeronestop.org/">CareerOneStop - Interview
                            Practice
                            Tools</a><br>
                        • <a class="link" href="https://www.mindtools.com/">MindTools - Time Management &
                            Productivity</a><br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>