<head>
    <title>Home</title>

<style>
    .form-group {
        float: right;
        width: 75%;
        margin-top: 6px;
    }
    .form-label {
        float: right;
        width: 25%;
        margin-top: 6px;
    }
    .divider {
    width:5px;
    height:auto;
    display:inline-block;
    }
    label {
        padding: 12px 12px 12px 0;
        display: inline-block;
    }
    .col-25 {
        float: right;
        width: 25%;
        margin-top: 6px;
    }
    .col-75 {
        float: right;
        width: 75%;
        margin-top: 6px;
    }
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    .input {
        width: 100%;
    }
</style>

{{#if success}}
    <div role="alert" class="alert alert-success">
    <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6 shrink-0 stroke-current"
        fill="none"
        viewBox="0 0 24 24">
        <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    <span>{{success}}</span>
</div>
{{/if}}
{{#if error}}
    <div role="alert" class="alert alert-warning">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6 shrink-0 stroke-current"
            fill="none"
            viewBox="0 0 24 24">
            <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
        </svg>
        <span>{{error}}</span>
    </div>
{{/if}}

<div style="margin-bottom: 0px;">
    <div class="avatar placeholder" style="float: right; margin-right: 5px;">
            <div class="bg-neutral text-neutral-content w-16 rounded-full">
                <strong><span class="text-3xl">{{avatar_char}}</span></strong>
            </div>
    </div>
    <div>
        <h1 style="float: right; margin-bottom: 0px; margin-right: 20px;"> {{final_time}}</h1>
    </div>
</div>

<div>
<button class="btn btn-primary rounded-full" style="float: left; margin-top: 20px; margin-bottom: 0px;" onclick="my_modal.showModal()">Add Event</button>
</div>

<dialog id="my_modal" class="modal">
    <div class="modal-box">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <h3 class="text-lg font-bold text-center">Create New Event:</h3>
    <form action="/home" method="POST">
        <div class="form-group">
            <input type="text" class="input input-bordered w-full" id="job_name" name="job_name" placeholder="enter the job name..." required>
        </div>
        <div class="form-label">
            <label for="job_name">Job Name:</label>
        </div>
        <div class="form-group">
            <input type="link" class="input input-bordered w-full" id="job_link" name="job_link" placeholder="enter the job link..." required>
        </div>
        <div class="form-label">
            <label for="job link">Job Link:</label>
        </div>

        <div class="form-group">
            <input type="date" class="input input-bordered w-full" id="due_date" name="due_date" placeholder="2024-11-14" required>
        </div>
        <div class="form-label">
            <label for="due_date">Due Date:</label>
        </div>

    <div style="margin-bottom: 0px;">
        <div class="form-group">
            <select class="input input-bordered w-full" id="status" name="status" style="margin-bottom: 20px;">
                <option>Select Status...</option>
                <option value="applied">Applied</option>
                <option value="not-applied">Not Applied</option>
                <option value="accepted">Accepted</option>
                <option value="denied">Denied</option>
            </select>
        </div>
        <div class="form-label">
            <label for="status" style="margin-bottom: 20px;">Status:</label>
        </div>
    </div>
            <h1 id="poc_header" class="text-lg font-bold text-center" style="display: none;">POC Info:</h1>

        <div class="form-group">
            <input type="text" class="input input-bordered w-full" id="poc_first_name" name="poc_first_name" style="display: none;" placeholder="Enter the first name...">
        </div>
        <div class="form-label">
            <label id="poc_first_name_label" for="poc_first_name" style="display: none;">First Name:</label>
        </div>

        <div class="form-group">
            <input type="text" class="input input-bordered w-full" id="poc_last_name" name="poc_last_name" style="display: none;" placeholder="Enter the last name...">
        </div>
        <div class="form-label">
            <label id="poc_last_name_label" for="poc_last_name" style="display: none;">Last Name:</label>
        </div>

        <div class="form-group">
            <input type="text" class="input input-bordered w-full" id="poc_phone_number" name="poc_phone_number" style="display: none;" placeholder="Enter the phone number...">
        </div>
        <div class="form-label">
            <label id="poc_phone_number_label" for="poc_phone_number" style="display: none;">Phone:</label>
        </div>

        <div class="form-group">
            <input type="text" class="input input-bordered w-full" id="poc_email" name="poc_email" style="display: none;" placeholder="Enter the email...">
        </div>
        <div class="form-label">
            <label id="poc_email_label" for="poc_email" style="display: none;">Email:</label>
        </div>

        <button type="submit" class="btn btn-primary" style="float: right; padding: 15px 32px;">Submit</button>
    </form>
        <div style="padding-top: 20px">
            <button id="expand_button"class="btn btn-accent" onclick="expand()" style="float: left;">Add POC</button>
            <form method="dialog">
                <button class="btn btn-secondary" style="float: right; margin-right: 5px;">Close</button>
            </form>
        </div>
  </div>
</dialog>
{{> dashboard }}
</head>

<body>
    <script>
        function expand() {
            document.getElementById('poc_header').style = 'display: block;';
            
            document.getElementById("poc_first_name").required = true;
            document.getElementById('poc_first_name').style = 'display: block;';
            document.getElementById('poc_first_name_label').style = 'display: block;';

            document.getElementById("poc_last_name").required = true;
            document.getElementById('poc_last_name').style = 'display: block;';
            document.getElementById('poc_last_name_label').style = 'display: block;';

            document.getElementById("poc_phone_number").required = true;
            document.getElementById('poc_phone_number').style = 'display: block;';
            document.getElementById('poc_phone_number_label').style = 'display: block;';
        
            document.getElementById("poc_email").required = true;
            document.getElementById('poc_email').style = 'margin-bottom: 50px; display: block;';
            document.getElementById('poc_email_label').style = 'margin-bottom: 50px; display: block;';
            
            document.getElementById('expand_button').style = 'display: none;';
        }
    </script>

</body>
