<!--TODO: Replace tabs method to accordion display-->

<div class="container flex flex-col items-center justify-center">
  <h1 class="text-center text-3xl font-bold mb-6">Resources</h1>
  <div class="flex flex-wrap w-full items-center justify-center gap-4">
    <div class="w-1/2 md:w-1/2 sm:w-full">
      <div class="text-left text-xl font-bold mb-6">
        I. Interview Preparation
      </div>
      <div class="collapse collapse-plus bg-base-200">
        <input type="radio" name="my-accordion-3"/>
        <div class="collapse-title text-xl font-medium">i. General Interview Preparation Resources</div>
        <div class="collapse-content">
          <p>
            • <a class="link" href="https://biginterview.com/">Big Interview - Behavioral Interview Practice</a><br>
            • <a class="link" href="https://www.mockquestions.com/">MockQuestions - Industry-Specific Questions</a><br>
            • <a class="link" href="https://www.linkedin.com/learning/topics/interviewing">LinkedIn Learning - Interview Preparation Courses</a><br>
          </p>
        </div>
      </div>
      <div class="collapse collapse-plus bg-base-200">
        <input type="radio" name="my-accordion-3" />
        <div class="collapse-title text-xl font-medium">i. Technology & Computer Science</div>
        <div class="collapse-content">
          <p>
            • <a class="link" href="https://leetcode.com/">LeetCode - Coding Interview Practice</a><br>
            • <a class="link" href="https://www.hackerrank.com/"> HackerRank - Coding Challenges</a><br>
            • <a class="link" href="https://www.pramp.com/"> Pramp - Free Peer-to-Peer Interview Practice</a><br>
            • <a class="link" href="https://www.algoexpert.io/"> AlgoExpert - Software Engineering Interview Prep</a><br>
            • <a class="link" href="https://codesignal.com/"> CodeSignal - Interview Practice</a><br>
            • <a class="link" href="https://www.interviewcake.com/"> Interview Cake - Coding Interview Prep</a><br>
            • <a class="link" href="https://www.topcoder.com/"> TopCoder - Competitive Programming</a><br>
            • <a class="link" href="https://exercism.io/"> Exercism.io - Practice Coding</a><br>
            • <a class="link" href="https://www.reddit.com/r/cscareerquestions/"> Reddit - CS Career Questions</a>
          </p>
        </div>
      </div>
      <div class="collapse collapse-plus bg-base-200">
        <input type="radio" name="my-accordion-3" />
        <div class="collapse-title text-xl font-medium">ii. Consulting</div>
        <div class="collapse-content">
          <p>
            • <a class="link" href="https://www.caseinterview.com/">CaseInterview.com - Consulting Case Prep</a><br>
            • <a class="link" href="https://www.preplounge.com/">PrepLounge - Case Interview Practice</a><br>
            • <a class="link" href="https://managementconsulted.com/">Management Consulted - Case Interview Preparation</a><br>
            • <a class="link" href="https://www.myconsultingcoach.com/">MyConsultingCoach - Case Interview Preparation</a><br>
            • <a class="link" href="https://casecoach.com/">CaseCoach - Case Interview Training</a><br>
          </p>
        </div>
      </div>
      <div class="collapse collapse-plus bg-base-200">
        <input type="radio" name="my-accordion-3" />
        <div class="collapse-title text-xl font-medium">iii. Finance & Investment Banking</div>
        <div class="collapse-content">
          <p>
            • <a class="link" href="https://www.wallstreetoasis.com/">Wall Street Oasis - Finance Interview Prep</a><br>
            • <a class="link" href="https://mergersandinquisitions.com/">Mergers & Inquisitions - Investment Banking Interview Prep</a><br>
            • <a class="link" href="https://breakingintowallstreet.com/">Breaking Into Wall Street - Financial Modeling</a><br>
            • <a class="link" href="https://www.wallstreetprep.com/">Wall Street Prep - Financial Modeling Training</a><br>
            • <a class="link" href="https://corporatefinanceinstitute.com/">The Corporate Finance Institute - Financial Modeling & Valuation</a><br>
            • <a class="link" href="https://www.vault.com/">Vault - Finance Interview Guides</a><br>
            • <a class="link" href="https://bankingprep.com/">BankingPrep - Investment Banking Interview Prep</a><br>
            • <a class="link" href="https://www.fe.training/">Financial Edge Training</a><br>
          </p>
        </div>
      </div>
      <div class="collapse collapse-plus bg-base-200">
        <input type="radio" name="my-accordion-3" />
        <div class="collapse-title text-xl font-medium">iv. Healthcare (Non-Medical)</div>
        <div class="collapse-content">
            • <a class="link" href="https://www.careermd.com/">CareerMD - Interview Tips</a><br>
            • <a class="link" href="https://www.modernhealthcare.com/">Modern Healthcare - Career Resources</a><br>
            • <a class="link" href="https://www.inhealthcare.com/">InHealthcare - Tips for Healthcare Interviews</a><br>
            • <a class="link" href="https://www.fiercehealthcare.com/">FierceHealthcare - Industry News and Insights</a><br>
            • <a class="link" href="https://www.healthcaresource.com/">HealthcareSource - Interview Tips and Resources</a><br>
            • <a class="link" href="https://www.aha.org/">American Hospital Association - Job Search and Interview Prep</a><br>
        </div>
      </div>
      <div class="collapse collapse-plus bg-base-200">
        <input type="radio" name="my-accordion-3" />
        <div class="collapse-title text-xl font-medium">v. Engineering</div>
        <div class="collapse-content">
            • <a class="link" href="https://www.engineerjobs.com/">EngineerJobs - Interview Prep</a><br>
            • <a class="link" href="https://www.asme.org/">ASME - American Society of Mechanical Engineers</a><br>
            • <a class="link" href="https://www.ieee.org/">IEEE - Institute of Electrical and Electronics Engineers</a><br>
            • <a class="link" href="https://www.engineering.com/">Engineering.com - Interview Tips</a><br>
            • <a class="link" href="https://www.stemcareer.com/">STEM Career - Engineering Interview Tips</a><br>
            • <a class="link" href="https://engineeringmanagementinstitute.org/">Engineering Management Institute</a><br>
            • <a class="link" href="https://swe.org/">Society of Women Engineers - Career Resources</a><br>
            • <a class="link" href="https://www.workitdaily.com/">Work It Daily - Engineering Job Interview Tips</a><br>
        </div>
      </div>
      <div class="collapse collapse-plus bg-base-200">
        <input type="radio" name="my-accordion-3" />
        <div class="collapse-title text-xl font-medium">vi. Sales & Marketing</div>
        <div class="collapse-content">
            • <a class="link" href="https://blog.hubspot.com/sales/interview-questions-for-sales-reps">HubSpot - Sales Interview Questions</a><br>
            • <a class="link" href="https://www.salesforce.com/blog/">SalesForce - Sales Interview Tips</a><br>
            • <a class="link" href="https://www.ama.org/">American Marketing Association - Career Resources</a><br>
            • <a class="link" href="https://business.linkedin.com/sales-solutions">LinkedIn Sales Solutions - Interview Prep</a><br>
            • <a class="link" href="https://www.saleshacker.com/">SalesHacker - Sales Interview Tips</a><br>
            • <a class="link" href="https://www.marketingprofs.com/">MarketingProfs - Marketing Interview Tips</a><br>
            • <a class="link" href="https://academy.hubspot.com/">HubSpot Academy - Sales and Marketing Resources</a><br>
        </div>
      </div>
      <div class="collapse collapse-plus bg-base-200">
        <input type="radio" name="my-accordion-3" />
        <div class="collapse-title text-xl font-medium">vii. Accounting</div>
        <div class="collapse-content">
            • <a class="link" href="https://www.rogercpareview.com/">Roger CPA Review - Accounting Interview Tips</a><br>
            • <a class="link" href="https://www.aicpa.org/">The AICPA - American Institute of CPAs</a><br>
            • <a class="link" href="https://www.cimaglobal.com/">Chartered Institute of Management Accountants (CIMA)</a><br>
            • <a class="link" href="https://www.vault.com/">Vault - Accounting Interview Guides</a><br>
            • <a class="link" href="https://www.becker.com/">Becker - CPA Exam Prep</a><br>
            • <a class="link" href="https://www.accountingcoach.com/">Accounting Coach - Interview Preparation</a><br>
            • <a class="link" href="https://www.roberthalf.com/">Robert Half - Accounting Interview Tips</a><br>
            • <a class="link" href="https://www.investopedia.com/">Investopedia - Accounting Basics</a><br>
        </div>
      </div>
      <div class="collapse collapse-plus bg-base-200">
        <input type="radio" name="my-accordion-3" />
        <div class="collapse-title text-xl font-medium">viii. Human Resources</div>
        <div class="collapse-content">
            • <a class="link" href="https://www.shrm.org/">Society for Human Resource Management (SHRM)</a><br>
            • <a class="link" href="https://www.linkedin.com/learning/">LinkedIn Learning - HR Interview Prep</a><br>
            • <a class="link" href="https://www.hrbartender.com/">HR Bartender - Interview Tips for HR Roles</a><br>
            • <a class="link" href="https://www.thebalancecareers.com/">The Balance Careers - HR Interview Questions</a><br>
            • <a class="link" href="https://www.hci.org/">Human Capital Institute - Interview Resources</a><br>
            • <a class="link" href="https://www.hrci.org/">Human Resources Certification Institute (HRCI)</a><br>
            • <a class="link" href="https://workology.com/">Workology - HR Interview Tips</a><br>
            • <a class="link" href="https://www.aihr.com/">AIHR - Academy to Innovate HR</a><br>
        </div>
      </div>
      <div class="collapse collapse-plus bg-base-200">
        <input type="radio" name="my-accordion-3" />
        <div class="collapse-title text-xl font-medium">ix. Law & Legal Practice</div>
        <div class="collapse-content">
            • <a class="link" href="https://www.lawcrossing.com/">LawCrossing - Legal Interview Prep</a><br>
            • <a class="link" href="https://www.nalp.org/">NALP - National Association for Law Placement</a><br>
            • <a class="link" href="https://www.vault.com/">Vault - Law Interview Guides</a><br>
            • <a class="link" href="https://www.americanbar.org/">American Bar Association - Career Resources</a><br>
            • <a class="link" href="https://www.thebalancecareers.com/">The Balance Careers - Legal Interview Questions</a><br>
            • <a class="link" href="https://www.lsac.org/">Law School Admission Council (LSAC) - Career Services</a><br>
            • <a class="link" href="https://jdadvising.com/">JD Advising - Law School Interview Prep</a><br>
            • <a class="link" href="https://abovethelaw.com/">Above the Law - Legal Career Center</a><br>
            • <a class="link" href="https://www.lexisnexis.com/">LexisNexis - Legal Research and Interview Prep</a><br>
        </div>
      </div>
    </div>

    <!-- Divider -->
    <div class="divider divider-horizontal">OR</div>

    <!-- Content Section -->
    <div class="card bg-base-300 rounded-box flex-grow place-items-center">
      Additional content here
    </div>
  </div>
</div>


  <div class="card bg-base-300 rounded-box grid h-20 flex-grow place-items-center">
    <div role="tablist" class="tabs tabs-lifted">
      <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="Tab 1" />
      <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">
        Tab content 1
      </div>

      <input
        type="radio"
        name="my_tabs_2"
        role="tab"
        class="tab"
        aria-label="Tab 2"
        checked="checked" />
      <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">
        Tab content 2
      </div>

      <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="Tab 3" />
      <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">
        Tab content 3
      </div>
    </div>
  </div>